Repository amonochub/present_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, check-migrations, check-configs, check-docs, check-dependencies, check-env, check-docker

check-locales:
  name: Check locale files
  entry: python -c "import toml; from pathlib import Path; ru_path = Path('app/i18n/ru.toml'); en_path = Path('app/i18n/en.toml'); ru = toml.load(ru_path) if ru_path.exists() else {}; en = toml.load(en_path) if en_path.exists() else {}; print('✅ Файлы локализации проверены')"
  ...

check-migrations:
  name: Check database migrations
  entry: python -c "from pathlib import Path; migrations_dir = Path('migrations/versions'); print('✅ Миграции проверены') if migrations_dir.exists() and list(migrations_dir.glob('*.py')) else exit(1)"
  language: system

check-configs:
  name: Check configuration files
  ...

check-docs:
  name: Check documentation
  entry: python -c "from pathlib import Path; required_docs = ['README.md', 'QUICK_START.md', 'SECURITY.md', 'DEPLOYMENT_SUMMARY.md']; print('✅ Документация проверена') if all(Path(doc).exists() for doc in required_docs) else exit(1)"
  language: system

check-dependencies:
  name: Check dependencies
  entry: python -c "from pathlib import Path; requirements_file = Path('requirements.txt'); print('✅ Зависимости проверены') if requirements_file.exists() else exit(1)"
  language: system

check-env:
  name: Check environment variables
  entry: python -c "from pathlib import Path; env_example = Path('env.example'); print('✅ env.example проверен') if env_example.exists() else exit(1)"
  language: system

check-docker:
  name: Check Docker files
  entry: python -c "from pathlib import Path; dockerfile = Path('Dockerfile'); docker_compose = Path('docker-compose.yml'); print('✅ Docker файлы проверены') if dockerfile.exists() and docker_compose.exists() else exit(1)"
  language: system

🔧 Исправление скрипта проверки деплоя: корректные имена переменных окружения
  scripts/check_deployment_readiness.py
Due: none

📋 Финальный отчет о готовности к деплою
  DEPLOYMENT_READY_REPORT.md
Due: none

🔧 Исправление недостающих компонентов: graceful shutdown, обработка ошибок, улучшенная надежность
  MISSING_COMPONENTS_REPORT.md
  app/bot.py
  app/health.py
  scripts/deploy.sh
  scripts/run_migrations.sh
Due: none

🚀 Временное отключение демо-данных для быстрого запуска present-bot
  GHOSTSCRIPT_FIX_REPORT.md
  app/bot.py
  deploy_to_server.sh
  env.example
  manage.py
  scripts/quick_start.sh
  scripts/run_migrations.sh
Due: check-env

🔧 Финальные исправления: валидация, health check, импорты, конфигурация
  FINAL_CODE_REVIEW_REPORT.md
  app/bot.py
  app/config.py
  manage.py
  scripts/update_all_bots.sh
Due: none

Fix missing required fields in user creation functions
  app/repositories/user_repo.py
  app/roles.py
  migrations/versions/002_add_task_deadline.py
  migrations/versions/003_add_user_theme.py
  migrations/versions/004_enable_rls.py
  migrations/versions/006_add_seen_intro.py
  migrations/versions/007_optimize_performance_indexes.py
  scripts/init_demo.py
Due: check-migrations

Fix: Исправлена команда /start и устранены конфликты
  BOT_FIX_REPORT.md
  app/bot.py
  app/routes/__init__.py
  app/routes/intro.py
  app/routes/onboarding.py
  app/services/onboarding_service.py
  requirements.txt
Due: check-dependencies

Add: Финальный отчёт о исправлении бота
  BOT_FIX_SUMMARY.md
Due: none

feat: добавлена SQL-инфраструктура для стабильного деплоя
  .env.test
  DATABASE_SETUP.md
  docker-compose.yml
  scripts/init_db.sh
  scripts/run_migrations.sh
  sql/01_init_schema.sql
  sql/02_demo_data.sql
  sql/README.md
Due: check-configs, check-docker

feat: полная система деплоя и мониторинга для production
  DEPLOYMENT_CHECKLIST.md
  app/config.py
  scripts/backup_db.sh
  scripts/check_server_requirements.sh
  scripts/init_db.sh
  scripts/install_production.sh
  scripts/monitor.sh
  scripts/rollback.sh
  scripts/server_check.sh
  scripts/server_setup.sh
  scripts/validate_env.sh
  systemd/schoolbot.service
Due: none

docs: добавлено полное руководство по production развертыванию
  PRODUCTION_DEPLOYMENT_GUIDE.md
Due: none

Path conditions:
  check-locales: any of: ^app/i18n/.*\.toml$
  check-migrations: any of: ^migrations/versions/.*\.py$
  check-configs: any of: ^(docker-compose\.yml|prometheus/.*\.yml|grafana/.*\.yml)$
  check-docs: any of: ^(README\.md|QUICK_START\.md|SECURITY\.md|DEPLOYMENT_SUMMARY\.md)$
  check-dependencies: any of: ^requirements\.txt$
  check-env: any of: ^env\.example$
  check-docker: any of: ^(Dockerfile|docker-compose\.yml)$
